html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(98, 99, 99);
}
.container {
  display: flex;
  background: rgb(98, 99, 99);
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0 0 0 0.5rem;
}
.logo a {
  color: rgb(34, 30, 28);
}

.logo,
.nav {
  list-style: none;
  text-transform: uppercase;
}

.logo a,
.nav a {
  text-decoration: none;
  letter-spacing: 0.4rem;
}

.nav {
  display: flex;
}

.nav a {
  display: block;
  padding: 1em;
  color: rgb(0, 0, 0);
}

.nav a:hover {
  background: #adadaf;
}

@media all and (max-width: 990px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin: 0;
  }

  .nav {
    width: 100%;
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
  }

  .nav {
    flex-direction: column;
  }

  .nav a {
    text-align: center;
    padding: 10px;
  }
}

.bgImage {
  width: 100%;
  height: 100vh;
}

.flipCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
#avtarImg {
  width: 100%;
  height: 300px;
}

.flip-card-inner {
  position: relative;
  width: 99%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

#fcb1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7a48f0;
  color: black;
  transform: rotateY(180deg);
}
#fcb2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4542e4;
  color: white;
  transform: rotateY(180deg);
}
#fcb3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #7a48f0;
  color: black;
  transform: rotateY(180deg);
}
#fcb4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4542e4;
  color: white;
  transform: rotateY(180deg);
}

.contact {
  text-align: center;
  padding: 5px;
  background: rgb(98, 99, 99);
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.contact p {
  margin: 1rem 0 1rem 0;
}
